* {
    font-family: Arial, Helvetica, sans-serif;
}

#main {
    /* color: green; */
    width: 80%;
    max-width: 800px;
    margin: 100px auto;
}

#username-form {
    width: 100%;
    display: flex;
}

#username-input, #username-form button {
    padding: 20px;
    font-size: 20px;
    border: 1px solid rgb(0, 0, 0, 0.4);
} 

#username-input {
    flex: 1;
    border-right: none!important;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

#username-input:focus {
    border: 1px solid rgb(0, 119, 255);
    outline: none;
}

#username-form button {
    background: rgb(0, 119, 255);
    color: white;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
}

#username-form button:hover {
    background: rgb(0, 89, 190);
    transition: 0.3s;
}

#result {
    width: 100%;
    font-size: 30px;
    text-align: center;
    color: red;
}

.bold-text {
    font-weight: bold;
}

@media (max-width: 600px) {
    #main {
        width: 95%;
    }
}